/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 3714659 */
    src: url('//at.alicdn.com/t/c/font_3714659_h4pg08fxtr7.woff2?t=1666637199519') format('woff2'),
        url('//at.alicdn.com/t/c/font_3714659_h4pg08fxtr7.woff?t=1666637199519') format('woff'),
        url('//at.alicdn.com/t/c/font_3714659_h4pg08fxtr7.ttf?t=1666637199519') format('truetype');
}

html {
    font-size: 0.2667vw;
}

body {
    font-family: "iconfont";
    font-size: 12rem;
}

input,
button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}